@page "/register"
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider


<PageTitle>Register</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <EditForm Model="@_model" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <MudCard Class="ma-16">
            <MudCardContent>
                <div class="ma-13">
                    <MudTextField Label="Username" @bind-Value="_model.UserName" For="@(() => _model.UserName)" />
                    <MudTextField InputType="InputType.Password" Label="Password" Class="mt-3" @bind-Value="_model.Password" For="@(() => _model.Password)" />
                    <MudTextField InputType="InputType.Password" Label="Password" Class="mt-3" @bind-Value="_model.PasswordConfirm" For="@(() => _model.PasswordConfirm)" />
                </div>
            </MudCardContent>

            <MudStack Row="true" Spacing="6" Justify="Justify.Center">
                <MudText Typo="Typo.subtitle1" style="color: red">@_error</MudText>
            </MudStack>

            <MudStack Row="true" Spacing="6" Justify="Justify.Center">
                <MudButton Class="mb-6" ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary">Register</MudButton>
                <MudButton Class="mb-6" Href="/register" Variant="Variant.Outlined" Color="Color.Secondary">Sign in</MudButton>
            </MudStack>
        </MudCard>
    </EditForm>
</MudContainer>

@functions{

    private RegisterParameters _model = new();
    private string _error;

    async Task OnSubmit()
    {
        _error = null;

        try
        {
            await authStateProvider.Register(_model);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
}