@inherits ComponentBase

<style>
    .card-container {
        width: 400px;
        height: 550px;
    }

    .card {
        width: 100%;
        height: 100%;

        position: relative;

        background-color: #0b423f;

        transition: transform 1000ms;
    }

    .card-content {
        width: 100%;
        height: 100%;
        border-radius: 24px;

        position: absolute;
        overflow: hidden;

        transition: transform 500ms;
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .flipped {
        transform: rotateY(180deg);
    }

    .fab-buttons{
        width: 100%;
        
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .buttons {
        width: 100%;
    }

</style>

<div class="card-container">
    <div class="card  @(flipped ? "flipped" :"")">

        <div class="card-content @(flipped ? "card-back" :"")">

            <MudStack Class="pa-4">
                <MudText Typo="Typo.body1">JLPT Rating: <b>@Vocab.JLPT</b></MudText>
                <MudText Typo="Typo.body1">Vocab Type: <b>@Vocab.VocabPos</b></MudText>

                @if (!flipped)
                {
                    <MudText Typo="Typo.body1">Expression: <b>@Vocab.VocabExpression</b></MudText>
                    <MudText Typo="Typo.body1">Sentence Expression: @(new MarkupString(@Vocab.SentenceExpression))</MudText>

                    <audio controls>
                        <source src="sounds/@(Vocab.VocabSounds)" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    
                    <MudText Typo="Typo.body1">Sentence Kana: @(new MarkupString(@Vocab.SentenceKana))</MudText>
                    <MudText Typo="Typo.body1">Vocab Furigana: @(new MarkupString(@Vocab.VocabFurigana))</MudText>
                    <MudText Typo="Typo.body1">Sentence Furigana: @(new MarkupString(@Vocab.SentenceFurigana))</MudText>
                }
                else
                {
                    <MudText Typo="Typo.body1">Meaning: @Vocab.VocabMeaning</MudText>
                    <MudText Typo="Typo.body1">Sentence Meaning:@Vocab.SentenceMeaning</MudText>
                }
            </MudStack>
        </div>

    </div>    
    
    <div class="fab-buttons">
        <MudIconButton OnClick="LeftClick" Icon="@Icons.Material.Filled.ArrowLeft" Color="Color.Secondary"/>
        <MudButton Class="buttons" Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Flip">Flip</MudButton>
        <MudIconButton OnClick="RightClick" Icon="@Icons.Material.Filled.ArrowRight" Color="Color.Secondary"/>
    </div>

    <MudStack Row="true" Spacing="0" Justify="Justify.Center">
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined">BAD</MudButton>
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined">OK</MudButton>
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined">GOOD</MudButton>
    </MudStack>

</div>



@code {
    private bool flipped;
    private async Task Flip() => flipped = !flipped;

    [Parameter] public EventCallback<int> ChangeIndex { get; set; }

    [CascadingParameter] public Vocab Vocab { get; set; }
    [Parameter] public UserFlashCardOptions UserFlashCardOptions { get; set; }

    private async void RightClick() 
    {
        await ChangeIndex.InvokeAsync(1);
        //await InvokeAsync(() => StateHasChanged());
    }

    private async void LeftClick()
    {
        await ChangeIndex.InvokeAsync(-1);
        //await InvokeAsync(() => StateHasChanged());
    }
}

